streamlit>=1.32.0
langchain>=0.1.13
langchain-community>=0.0.29
langchain-chroma>=0.1.0
langchain-huggingface>=0.0.1
chromadb>=0.4.24
beautifulsoup4>=4.12.3
requests>=2.31.0
pypdf>=4.1.0
sentence-transformers>=2.6.1
fpdf2>=2.7.8
gTTS>=2.5.1
urllib3>=2.2.1
flask>=3.0.2
gunicorn>=21.2.0
